
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
